@forward '@nebular/theme/styles/theming';
@use '@nebular/theme/styles/theming' as *;
@use '@nebular/theme/styles/themes/default';
@use '@nebular/theme/styles/themes/dark';

$nb-themes: nb-register-theme((
  color-primary-100: #C6F8D6,
  color-primary-200: #90F1B9,
  color-primary-300: #55D698,
  color-primary-400: #2BAE7C,
  color-primary-500: #007856,
  color-primary-600: #006754,
  color-primary-700: #00564E,
  color-primary-800: #004445,
  color-primary-900: #003339,
  color-success-100: #E8F8D0,
  color-success-200: #CCF2A3,
  color-success-300: #9FD96F,
  color-success-400: #71B445,
  color-success-500: #3B8218,
  color-success-600: #2A6F11,
  color-success-700: #1C5D0C,
  color-success-800: #104B07,
  color-success-900: #083E04,
  color-info-100: #C9EEFA,
  color-info-200: #95D9F5,
  color-info-300: #5DB4E2,
  color-info-400: #348CC5,
  color-info-500: #0359A0,
  color-info-600: #024589,
  color-info-700: #013373,
  color-info-800: #00245C,
  color-info-900: #00194C,
  color-warning-100: #FBEECC,
  color-warning-200: #F8DA9B,
  color-warning-300: #ECBB68,
  color-warning-400: #D99941,
  color-warning-500: #C16D0D,
  color-warning-600: #A55509,
  color-warning-700: #8A4006,
  color-warning-800: #6F2E04,
  color-warning-900: #5C2102,
  color-danger-100: #FDD1D6,
  color-danger-200: #FBA5B6,
  color-danger-300: #F4769C,
  color-danger-400: #EA538F,
  color-danger-500: #DD1F7E,
  color-danger-600: #BE167B,
  color-danger-700: #9F0F74,
  color-danger-800: #800968,
  color-danger-900: #6A0560
), custom-default, default);

$nb-themes: nb-register-theme((
  color-primary-100: #C6F8D6,
  color-primary-200: #90F1B9,
  color-primary-300: #55D698,
  color-primary-400: #2BAE7C,
  color-primary-500: #007856,
  color-primary-600: #006754,
  color-primary-700: #00564E,
  color-primary-800: #004445,
  color-primary-900: #003339,
  color-success-100: #E8F8D0,
  color-success-200: #CCF2A3,
  color-success-300: #9FD96F,
  color-success-400: #71B445,
  color-success-500: #3B8218,
  color-success-600: #2A6F11,
  color-success-700: #1C5D0C,
  color-success-800: #104B07,
  color-success-900: #083E04,
  color-info-100: #C9EEFA,
  color-info-200: #95D9F5,
  color-info-300: #5DB4E2,
  color-info-400: #348CC5,
  color-info-500: #0359A0,
  color-info-600: #024589,
  color-info-700: #013373,
  color-info-800: #00245C,
  color-info-900: #00194C,
  color-warning-100: #FBEECC,
  color-warning-200: #F8DA9B,
  color-warning-300: #ECBB68,
  color-warning-400: #D99941,
  color-warning-500: #C16D0D,
  color-warning-600: #A55509,
  color-warning-700: #8A4006,
  color-warning-800: #6F2E04,
  color-warning-900: #5C2102,
  color-danger-100: #FDD1D6,
  color-danger-200: #FBA5B6,
  color-danger-300: #F4769C,
  color-danger-400: #EA538F,
  color-danger-500: #DD1F7E,
  color-danger-600: #BE167B,
  color-danger-700: #9F0F74,
  color-danger-800: #800968,
  color-danger-900: #6A0560
), custom-dark, dark);
